*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Mulish', sans-serif;
font-family: 'Work Sans', sans-serif;
}

/* common style */
.discribtion{
color: #FFF;
text-align: center;
font-size: 1rem;
font-weight: 400;
padding: 10px 100px;
} 
/* header section styling start */

header{
    max-width: 1260px;
    margin: 0 auto;
    background: #fff;
    min-height: 1000px;
    border: 5px solid skyblue;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 50px;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
   margin-right: 100px;
   
}
.nav-left img{
    width: 2.2rem;
height: 2rem;
}
.nav-left-heading{
color: #131318;
font-size: 2rem;
font-weight: 800;
margin: 15px;
}
.era{
    color: #FF5400;
}

.nav-item{
    width: 50%;
    
}
.nav-item ul{
    display: flex;
    gap: 20px;
}
.nav-item ul li{
    list-style: none;
}
.nav-item ul li a{
    text-decoration: none;
color: #424247;
text-align: center;
font-size: 1.125rem;
font-weight: 400;
}
.nav-item ul li:first-child a{
    color: #FF5400;
}

/* header banner */
.header-banner{
    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 31.5rem;
    align-items: center;
    margin-left: 30px;
}

.header-banner-title{
color: #FFF;
font-size: 4rem;
font-weight: 800;
text-align: center;
/* margin-top: 50px; */
padding: 100px 20px 20px 20px;

}

.header-find{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 80px;
}

.where-go{
width: 10rem;
height: 3rem;
border-radius: 0.5rem;
background: #FFF;
border: 0;
}
::placeholder{
    color: rgba(15, 15, 112, 0.5);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

select{
    width: 10.875rem;
height: 3.25rem;
border-radius: 0.5rem;
background: #FFF;
}
/* option{
    color: rgba(19, 19, 24, 0.50);

font-family: Mulish;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center; */

.find-now{
    width: 10.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border: 0;
    align-items: center;

}
.find-now>img{
color: #FFF;

}

/* header section end */

